#exception {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #191414;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
}

#exception .title h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#exception .title hr {
    border-top: 2px solid white;
    width: 350px;
}

#exception .description {
    height: 140px;
}

#exception .description p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 10px 5px;
}

#exception .solution {
    width: 350px;
    text-align: end;
}

#exception .solution a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}
